01-EDA/EDA_app/v2/__pycache__
01-EDA/EDA_app/__pycache__/
10-_Data_Science_Projects
01-EDA/word.docx
01-EDA/Bank/bank_ipynb.docx
01-EDA/Bank/bank_pbix.docx
01-EDA/Bank/bank_dash_plotly.docx
01-EDA/Bank/model/data/creditcard.csv
01-EDA/Bank/bank.pbix
01-EDA/Bank/bank2.py
01-EDA/Bank/bank3.py
01-EDA/Bank/bank_app2.py
01-EDA/Bank/bank_app3.py
01-EDA/Bank/columns_profile_pandas.py
01-EDA/Bank/columns_profile2.py
01-EDA/Bank/columns_profile3.py
01-EDA/Bank/bank_dash_plotly.docx
01-EDA/Bank/requirements.txt
01-EDA/word.docx
*.pbix
*.docx
*.csv
*.xlsx
